* {
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

/* Algemeen */
body {
    background-image: url(../assets/Free_Tech_Background.png);
    background-size: cover;
    color: #001540;
}

p {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #527ED9;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
}

article, section {
    /* background-color: palegreen; */
    border-radius: 5px;
    padding: 5px 10px;
}

fieldset {
    margin: 5px;
    border: 2px solid #001540;
    padding: 5px;
    border-radius: 5px;
}
legend {
    margin-left: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

li {
    list-style-position: inside;
}
/* Algemeen */

/* HEADER */
header {
    margin-bottom: 15px;
    padding: 5px;
    background-color: #527ED9;
    box-shadow: 0 0 15px #001540;
    /* position: sticky;
    top: -50px; */
}
header > div {
    display: flex;
    gap: 15px;
}
header fieldset {
    margin: 5px;
    border: 2px solid #001540;
    padding: 5px;
    border-radius: 5px;
}
header legend {
    margin-left: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #527ED9;
}
nav ul {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
nav li {
    background-color: #001540;
    border-radius: 5px;
    padding: 5px;
}
nav li:hover {
    box-shadow: 0 0 5px #001540;
}
/* HEADER */

/* FOOTER */
footer div {
    background-color: #2EA5E3;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #001540;
}
/* FOOTER */

/* TABLE */
table p {
    color: #001540;
}
table th {
    background-color: #001540;
    color: white;
}
table tr:nth-child(even) {
    background-color: #2EA5E3;
}
table tr:nth-child(odd) {
    background-color: #78c5ef;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
/* TABLE */

/* Competenties: Situeeringen, Activiteiten */
.competenties ul, .opdrachten ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.competenties h4, .opdrachten h4 {
    margin-bottom: 5px;
}
.competenties li, .opdrachten li{
    background-color: #001540;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.competenties li:hover, .opdrachten li:hover {
    box-shadow: 0 0 5px #001540;
}
.competenties fieldset, .opdrachten fieldset {
    width: fit-content;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.competenties legend, .opdrachten legend {
    font-size: 24px;
}
/* Competenties: Situeeringen, Activiteiten */
